block content
	div
		div.back
			a(href="#" id="backButton") ← Back
		div.row
			div(class="col-lg-6" id="editor-parent")
				textarea(class="editor" id="editor1")
				div.add
					a(href="#" id="addButton") + Add
			div(class="col-lg-6" id="results")
				div(class="output" id="out1")
				div(class="output" id="out2")
				div(class="output" id="out3")
				div(class="output" id="out4")
				div(class="output" id="out5")
				div(class="output" id="out6")
				div(class="output" id="out7")
				div(class="output" id="out8")
				div(class="output" id="out9")
				div(class="output" id="out10")
				div(class="output" id="out11")
				div(class="output" id="out12")
				div(class="output" id="out13")
				div(class="output" id="out14")
				div(class="output" id="out15")
				div(class="output" id="out16")
				div(class="output" id="out17")
				div(class="output" id="out18")
				div(class="output" id="out19")
				div(class="output" id="out20")
				div(class="output" id="out21")
				div(class="output" id="out22")
				div(class="output" id="out23")
				div(class="output" id="out24")
		
	script(src='/javascripts/parse.js')
	script(src='/javascripts/capture.js')