doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/nav.js')
  body
    div.container
      h1 Sked
      block content
      div.main
