block content
  div.gridCal
    div.month
      div(id="date" data-month=monthnum data-year=year)
      div.row
        div(class="month-back month-nav col-lg-3")
          a(href="#" class="nav" id="previous") ← Previous
        div(id="month" class="col-lg-6")
          h1= month
        div(class="month-forward month-nav col-lg-3")
          a(href="#" class="nav" id="next") Next →
    div(class="weekdays")
        div(class="dayh sunday")
          h3 Sunday
        div(class="dayh monday")
          h3 Monday
        div(class="dayh tuesday")
          h3 Tuesday
        div(class="dayh wednesday")
          h3 Wednesday
        div(class="dayh thursday")
          h3 Thursday
        div(class="dayh friday")
          h3 Friday
        div(class="dayh saturday")
          h3 Saturday
    div.grid

  script(src="/javascripts/cal.js")