block content
  div.gridCal
  div.month
    div.row
      div(class="month-back col-lg-3")
        | ← Previous
      div(id="month" class="col-lg-6")
        h1= month
      div(class="month-forward col-lg-3")
        | Next →
  div(class="weekdays")
      div(class="dayh sunday")
        h3 Sunday
      div(class="dayh monday")
        h3 Monday
      div(class="dayh tuesday")
        h3 Tuesday
      div(class="dayh wednesday")
        h3 Wednesday
      div(class="dayh thursday")
        h3 Thursday
      div(class="dayh friday")
        h3 Friday
      div(class="dayh saturday")
        h3 Saturday
    div(class="week week1")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week2")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week3")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week4")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week5")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
      
  script(src="/javascripts/cal.js")