block content
  div.gridCal
    div(class="week week1")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week2")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week3")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week4")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
    div(class="week week5")
      div(class="day sunday")
        div.date
        div.events
      div(class="day monday")
        div.date
        div.events
      div(class="day tuesday")
        div.date
        div.events
      div(class="day wednesday")
        div.date
        div.events
      div(class="day thursday")
        div.date
        div.events
      div(class="day friday")
        div.date
        div.events
      div(class="day saturday")
        div.date
        div.events
      
  script(src="/javascripts/cal.js")