div(class="week" id=week)
  div(class="day sunday")
    div.date
    div.events
  div(class="day monday")
    div.date
    div.events
  div(class="day tuesday")
    div.date
    div.events
  div(class="day wednesday")
    div.date
    div.events
  div(class="day thursday")
    div.date
    div.events
  div(class="day friday")
    div.date
    div.events
  div(class="day saturday")
    div.date
    div.events