body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white; 
  background-color: #107F7F;
  background-image: url("/images/binding_light.png");
}

a {
  color: #00B7FF;
}

#month h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 52px;
}

h1 a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.dayh h3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-tabs {
  background-color: #055454;
}

.week {
  height: 150px;
  width: 100%;
}

.day {
  display: inline-block;
  background-color: #FFFFFF;
  border: 2px solid #107F7F;
  height: 100%;
  width: 14.28%;
  vertical-align: top;
  padding: 5px;
}

.dayh {
  display: inline-block;
  display: table-cell;
  background-color: #FFFFFF;
  border: 2px solid #107F7F;
  color: #107F7F;
  margin: auto;
  height: 50px;
  width: 14.28%;
  vertical-align: middle;
}

.date {
  color: #107F7F;
  font: 20px;
}

.event{
  color: #000000;
}

.entry {
  height:400px;
}

.entry textarea{
  padding:20px;
  width:100%;
}

.result {
  background-color: #FFFFFF;
  height: 600px;
}

.weekdays {
  width: 100%;
  display: table;
  table-layout: fixed;
}

#month {
  text-align: center;
}

.month-back {
  text-align: left;
}

.month-forward {
  text-align: right;
}

.month-nav {
  display: table-cell;
  vertical-align: middle;
}

.month-nav a {
  font-size: 36px;
  color: #FFFFFF;  
}

